NEXT_PUBLIC_SUPABASE_URL=https://ynwkukbxpmnpprkpssvx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlud2t1a2J4cG1ucHBya3Bzc3Z4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1NDIwNzEsImV4cCI6MjA5NzExODA3MX0._IfVFJhBD3ZAM1DonoXl1ygjA6g_7WbySYflw3Zz6qc